
<div class="p-3 align-items-center d-flex justify-content-center border mt-5">
    <span>Copyright @ 2021 Datamundi - <a href="/pdf/Privacy policy-EN_DATAMUNDI_V2.pdf" target="_blank">Privacy Policy</a> - <a href="/licenses">Open source components</a></span>
</div>