<noscript>
    <div class="vh-100 min-vh-100" style="background-image: url('https://freelancer.datamundi.space/images/background.jpg'); background-size: cover;">
        <div class="text-center p-3">
            <h1 class="text-center">Please note you need to have JavaScript always enabled in your browser while using the Datamundi job portal, otherwise your work may not be saved correctly. </h1>
            <hr />
            <h3>You can read at the links below how to enable JavaScript in the browsers supported by the Datamundi portal:</h3>
            <h4>Google chrome: <a href="https://www.howtogeek.com/663569/how-to-disable-and-enable-javascript-on-google-chrome/" target="_blank">https://www.howtogeek.com/663569/how-to-disable-and-enable-javascript-on-google-chrome/</a></h4>
            <h4>Mozilla firefox: <a href="https://www.howtogeek.com/777298/how-to-enable-javascript-in-mozilla-firefox/">https://www.howtogeek.com/777298/how-to-enable-javascript-in-mozilla-firefox/</a></h4>
        </div>

    </div>
    <style>
        body > *:not(noscript)  {
            display: none!important;
            height: 0!important;
            visibility: hidden!important;
            min-height: 0!important;
            overflow: hidden;
        }
    </style>
</noscript>
